<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Enrich Read Book</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    <meta name="referrer" content="never">
</head>

<body>
<div>
    <div class="header">
        <img src="/static/img/banner.jpg" alt="Enrich Read Book">
    </div>
    <div id="form">
        <div id="mobile_box">
            <h2>Enrich Read Book</h2>
            <p style="font-size: 14px;margin: 5px">GDS Book ist eine Website mit mehr als 500 Online-E-Books für jede Sprache, darunter Spanisch, Englisch, Deutsch, Französisch, Portugiesisch,
                und ETC.
                Die 3 Teile, HOT / LATEST RELEASE / COMPLETED, die auf der linken Seite gezeigt werden, bilden die Homepage von GDS Book.
                Benutzer klicken auf Genre, um die vollständigen Kategorien anzuzeigen, und können Bücher, die ihnen gefallen, anhand der Namen im Suchfeld durchsuchen.</p>
            <button onclick="location.href='{{ .URL }}'">
                bestätigen
            </button>
            <p style="font-size: 15px;">Abonnement: 3,99 € pro Woche</p>
            <p style="font-size: 15px;margin-bottom: 0;">Ich akzeptiere<a href="/tnc">Nutzungsbedingungen</a></p>
            <br>

            <div class="box">
                <div class="left-box">
{{/*                    <img src="/static/img/internet.png" alt="">*/}}
                    <a href="/info">Datenschutzerklärung</a><br>
                    <a href="/help">Kontakt</a><br>
                    <a href="/tnc">Mein Konto</a>
                </div>
                <div class="right-box">
                    <img src="/static/img/mobile.png" onclick="javascript:window.location.href='/compat'" alt="">
                </div>
            </div>
        </div>
    </div>

    <p class="footer">

    </p>
</div>
</body>

</html>
