<!DOCTYPE html>
<html><head>
    
    <script async="" src="/static/sk/999Games_files/gtm.js"></script>
        <meta charset="utf-8">
        <title>ENRICHREAD</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <link rel="stylesheet" href="/static/skcss/foundation.css">
        <link href="/static/skcss/24048.css" rel="stylesheet" media="screen">
        <link href="/static/skcss/84508.css" rel="stylesheet" media="screen">
    <meta class="foundation-mq"></head>
    <body>       
        <main>
        <div class="container" id="main">
        <div class="row">
            <div class="columns">
                <strong>Kontaktné informácie</strong>
            </div>
        </div>
            <div class="row">
                <div class="columns">Foxseek Media Limited</div>
            </div>
                            <div class="row">
                <div class="columns">Unit B, 10/F Lee May Buliding 788-790 Nathan Road Mongkok 
Kowloon Hong Kong</div>
            </div>
            <div class="row voffset2">
            <div class="columns">Podpora e-mailom:&nbsp; <a href="mailto:info-sk@mobileinfo.biz">info-sk@mobileinfo.biz</a></div>
        </div>
        
                <div class="row voffset2">
            <div class="columns">Podpora na telefóne: 0800008304</div>
        </div>
            
    </div>
        </main>
            <footer class="text-center">
        <div class="row">
            <div class="columns">
                <p>                   
                    Vlastnik služby: Foxseek, www.foxseek.com, 0800008304
            SMS agregator pre Slovensko: interestGame, s.r.o. interest.3499games, 
            0800008304, support@foxseek.com
                    ©2020 Mobici BVBA<br>
                     <a href="/sk/terms">Všeobecné obchodné podmienky</a> -
                    <a href="/sk/privacy">Zásady ochrany osobných údajov</a> -
                    <a href="/sk/help">Pomoc</a>
                </p>   
            </div>
        </div>
</footer></body></html>