<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=360"/>
    <title>ENRICH READ</title>
    <link rel="icon" href=" " type="image/x-icon"/>
    <link type="text/css" rel="stylesheet" href="/static/css/lp_new.css">
</head>
<body class="main_container">

<div class="container">
    <div class="service_name_container">
        <svg
                xmlns="http://www.w3.org/2000/svg"
                width="360px" height="49px">
            <defs>
                <linearGradient id="PSgrad_0" x1="0%" x2="0%" y1="100%" y2="0%">
                    <!-- <stop offset="0%" stop-color="rgb(199,34,61)" stop-opacity="1"/> -->
                    <stop offset="20%" stop-color="rgb(60,60,60)" stop-opacity="1"/>
                    <!-- <stop offset="62%" stop-color="Handy-Rechnungb(255,255,255)" stop-opacity="1"/> -->
                    <stop offset="80%" stop-color="rgb(60,60,60)" stop-opacity="1"/>
                </linearGradient>
                <filter filterUnits="userSpaceOnUse" id="Filter_0" x="0px" y="0px" width="360px" height="49px">
                    <!-- <feOffset in="SourceAlpha" dx="0" dy="7"/> -->
                    <feGaussianBlur result="blurOut" stdDeviation="0"/>
                    <feFlood flood-color="rgb(0, 0, 0)" result="floodOut"/>
                    <feComposite operator="atop" in="floodOut" in2="blurOut"/>
                    <feComponentTransfer>
                        <feFuncA type="linear" slope="1"/>
                    </feComponentTransfer>
                    <feMerge>
                        <feMergeNode/>
                        <feMergeNode in="SourceGraphic"/>
                    </feMerge>
                </filter>

            </defs>
            <g filter="url(#Filter_0)">
                <text font-family="One" fill="rgb(2, 0, 97)"
                      transform="matrix( 0.41621664430375, 0, 0, 0.41621664430375,60.3022758258412, 36.445957718353)"
                      font-size="81.13px">ENRICH READ
                </text>
                <text font-family="One" fill="url(#PSgrad_0)"
                      transform="matrix( 0.41621664430375, 0, 0, 0.41621664430375,60.3022758258412, 36.445957718353)"
                      font-size="81.13px">ENRICH READ
                </text>
                <text font-family="One" stroke-width="2px" stroke="rgb(0, 0, 0)" fill-opacity="0" stroke-opacity="1"
                      transform="matrix( 0.41621664430375, 0, 0, 0.41621664430375,60.3022758258412, 36.445957718353)"
                      font-size="81.13px">ENRICH READ
                </text>
            </g>
        </svg>
    </div>

    <div style="width: 100%; height: 100px;"></div>
    <div class="service_subscribe">
        Cena služby 6 EUR/týždeň<br><br>
        Pošlite SMS s textom <span style="color: #e94b0d">ENRICHREAD 9017</span> pre <span style="color: #e94b0d">7041</span><br>
        ALEBO<br>
        Kliknutím na toto tlačidlo vygenerujete SMS<br> 
    </div>
</div>
<div class="container_sub_btn">
    <div class="service_subscribe_btn">
        <div style="width: 100%; height: 20px;"></div>
        <a href="sms:7041;?&amp;body=9017 AKTIVACIA PREDPLATENEJ SLUZBY ENRICHREAD, CENA 6 EUR/TYZDEN" style="text-decoration:none;">
        <div class="service_sub_btn">Odoslať</div>
    </a>
        <div style="width: 100%; height: 10px;"></div>
        <div class="service_sub_checkbox" style="text-align: center;">
            <!-- <input id="service_renounce_sure" style="cursor:pointer;" type="checkbox"/>Mit Klick auf -->
           Vypnutie: odošlite ENRICHREAD STOP na 7041 
        </div>
    </div>
</div>
<div class="container">
    <div style="width: 100%; height: 10px;"></div>
    <div class="service_disclaimer">
        Poslaním správy s textom ENRICHREAD na číslo 7041 si predplatite službu ENRICHREAD : Služba stojí pre Telekom a Orange a O2 a 4KA <a id="tariff">6,00 EUR ( 3 x 2,00 EUR)</a>
        vrátane DPH týždenne.
        Môžu Vám byt naúčtované dodatočné poplatky za prenos dát. 
        Odpovedaním potvrdzovacou SMS súhlasíte s prihlásením sa na odber našej 
        služby. Doba platnosti sa automaticky predlžuje dovtedy, kým nepošlete 
        správu s textom ENRICHREAD STOP na číslo 7041.
        Tento obsah sa dá použiť na všetkých mobilných zariadeniach. Ak 
        potrebujete informácie, zavolajte na 0800008304. alebo pošlite email na 
        info-sk@mobileinfo.biz.
        Zaslaním potvrdzujúcej SMS si predplatite službu zasielania SMS 
        správ. Ak máte menej ako 18 rokov, musíte požiadat o súhlas svojich 
        rodičov. Vašou odpovedou prostredníctvom potvrdzujúcej SMS súhlasíte s 
        prihlásením sa na odber našej služby.
        Centrum pomoci 0800008304 alebo e-mailová podpora 
        info-sk@mobileinfo.biz dostupná pondelok - piatok 9-17h.

        Vlastnik služby: Foxseek, www.foxseek.com, 0800008304
        SMS agregator pre Slovensko: 3499games, s.r.o. fn.3499games.com, 
        0800008304, support@foxseek.com
    </div>

    <div style="width: 100%; height: 30px;"></div>

    {{/*    <div class="service_footer_links">*/}}
    {{/*        <a>T&C</a> |*/}}
    {{/*        <a>Imprint</a> |*/}}
    {{/*        <a>Terms of Use</a>*/}}
    {{/*    </div>*/}}
    {{/*    <div class="service_footer_links" style="margin-top: 10px;">*/}}
    {{/*        <a>Privacy</a> |*/}}
    {{/*        <a>Contact</a> |*/}}
    {{/*        <a>Cancellation</a>*/}}
    {{/*    </div>*/}}


    <div class="service_footer_links">
        <p class="links">
            <a href="/sk/terms">Všeobecné obchodné podmienky</a> -
            <a href="/sk/privacy">Zásady ochrany osobných údajov</a> -
            <a href="/sk/help">Pomoc</a>
        </p>

        <p class="copyrights">
            ENRICHREAD ponúka Foxseek Media Limited
        </p>
    </div>

</div>

</body>
</html>
<!-- designed by yy(github.com/guaidashu) -->