<!DOCTYPE html>
<html><head>
   
    <meta charset="utf-8">
    <title>ENRICHREAD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link href="/static/skcss/foundation-icons.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/static/sk/999Games_files/foundation.css">
    <link href="/static/skcss/css.css" rel="stylesheet">
    <link href="/static/skcss/84520.css" rel="stylesheet" media="screen">
    <link href="/static/skcss/24048.css" rel="stylesheet" media="screen">
    <link href="/static/skcss/84508.css" rel="stylesheet" media="screen">

    <meta class="foundation-mq"></head>
    <body>
        <br>
        <div class="container">
            <div class="row">
                <div class="columns">
                <h4>Zásady ochrany osobných údajov</h4>

                <strong>1.	ÚVOD	</strong>
                <p>Tieto zásady ochrany osobných údajov sa týka tejto 
webovej stránky fn.3499games.com a riadi súkromie používateľov, ktorí sa 
rozhodli ju používať.</p>
                <p>Tieto zásady stanovujú rôzne oblasti ochrany súkromia
 používateľov a vymedzujú povinnosti &amp; požiadavky používateľov, 
webových stránok a vlastníkov webových stránok. Ďalej bude v týchto 
zásadách podrobne uvedený spôsob, akým táto webová stránka spracúva, 
ukladá a chráni údaje a informácie o používateľoch.</p>
                <p>Foxseek Media Limited je správcom údajov na účely Všeobecných 
nariadení EÚ o ochrane údajov, ktoré sú účinné od 20. mája 2019. Naše 
kontaktné údaje nájdete na tejto webovej stránke. Ak nie ste spokojní so
 žiadnym aspektom toho, ako zhromažďujeme a používame vaše údaje, máte 
právo podať sťažnosť miestnemu dozornému orgánu v súvislosti s otázkami 
ochrany údajov. Boli by sme vďační, ak by ste nás v takomto prípade 
kontaktovali skôr, ak podáte sťažnosť, aby sme sa mohli pokúsiť tento 
problém vyriešiť za vás.</p>
                
                <strong>2.	KTORÉ ÚDAJE O VÁS ZHROMAŽĎUJEME</strong>
                
                <p>Osobné údaje sú akékoľvek informácie, ktoré sú schopné identifikovať jednotlivca. Tie nezahŕňajú anonymizované údaje. </p>
                
                <p>Niektoré typy vašich osobných údajov môžeme spracovávať nasledovnes:</p>
                <ul>
                    <li><strong>Údaje identity </strong> môžu obsahovať vaše meno, priezvisko, rodné priezvisko, používateľské meno, rodinný stav, titul, dátum narodenia a pohlavie. </li>
                    <li><strong>Kontaktné údaje</strong> môžu obsahovať vašu fakturačnú adresu, dodaciu adresu, e-mailovú adresu a telefónne čísla.  </li>
                    <li><strong>Finančné údaje</strong> môžu obsahovať podrobnosti o vašom bankovom účte a platobnej karte. </li>
                    <li><strong>Transakčné údaje</strong>môžu obsahovať podrobnosti o platbách medzi nami a ďalšie podrobnosti o nákupoch, ktoré ste uskutočnili.  </li>
                    <li><strong>Technické údaje</strong> môžu obsahovať 
vaše prihlasovacie údaje, adresy internetového protokolu, typ a verziu 
prehliadača, typy a verzie doplnkov prehliadača, umiestnenie a 
nastavenie časového pásma, operačný systém a platformu a ďalšie 
technológie na zariadeniach, ktoré používate na prístup k týmto 
stránkam.  </li>
                    <li><strong>Profilové údaje</strong> môže obsahovať 
vaše používateľské meno a heslo, nákupy alebo objednávky, vaše záujmy, 
preferencie, spätnú väzbu a odpovede na prieskum. </li>
                    <li><strong>Údaje o používaní</strong>  môže obsahovať informácie o tom, ako používate našu webovú stránku, produkty a služby.</li>
                    <li><strong>Marketingové a komunikačné údaje</strong>môžu
 obsahovať vaše preferencie pri prijímaní marketingovej komunikácie od 
nás a našich tretích strán a vaše komunikačné preferencie. </li>
                </ul>
                <p>Taktiež môžeme spracovávať agregované údaje z vašich 
osobných údajov, ale tieto údaje neodhaľujú vašu totožnosť a ako také 
nie sú osobnými údajmi. Príkladom je prípad, keď kontrolujeme vaše údaje
 o používaní, aby sme vypočítali percento používateľov webových stránok,
 ktorí používajú konkrétnu funkciu našej stránky. V prípade prepojenia 
agregovaných údajov s vašimi osobnými údajmi, aby ste z nich mohli byť 
identifikovaní, bude sa s nimi zaobchádzať ako s osobnými údajmi.  </p>
                
                <strong> Citlivé údaje </strong>
                <p>Nezhromažďujeme o vás žiadne citlivé údaje. Citlivé 
údaje označujú údaje, ktoré obsahujú podrobnosti o vašej rase alebo 
etnickom pôvode, náboženskom alebo filozofickom presvedčení, sexuálnom 
živote, sexuálnej orientácii, politických názoroch, členstve v odboroch,
 informácie o vašom zdraví a genetické a biometrické údaje. 
Nezhromažďujeme žiadne informácie o odsúdeniach za trestné činy a 
priestupky.  </p>
                
                <strong>3.	AKO ZHROMAŽĎUJEME VAŠE OSOBNÉ ÚDAJE	 </strong>
                
                <p>Môžeme vaše údaje zhromažďovať prostredníctvom rôznych metód, a to vrátane: </p>
                <ul>
                    <li><strong>Priame interakcie:</strong>Údaje môžete 
poskytnúť vyplnením formulárov na našej stránke (alebo inej) alebo 
komunikáciou s nami poštou, telefonicky, e-mailom alebo iným spôsobom, 
vrátane prípadu, keď:</li>
                    <li>si objednávate naše produkty, alebo služby; </li>
                    <li> si vytvárate účet na našej stránke; </li>
                    <li>sa prihlasujete na odber našej služby, alebo publikácií;  </li>
                    <li> žiadate zdroje, alebo zasielanie marketingu; </li>
                    <li> vstupujete do súťaže, losovania, propagácie, alebo ankety; alebo </li>
                    <li>nám dávate spätnú väzbu.  </li>
                    <li><strong>Automatizované technológie alebo interakcie:</strong>
 Pri používaní našich stránok môžeme automaticky zhromažďovať technické 
údaje o vašom zariadení, prehliadaní a spôsoboch používania. Tieto údaje
 zhromažďujeme pomocou súborov cookies, protokolov servera a podobných 
technológií. Technické údaje o vás môžeme tiež získať, ak navštívite iné
 webové stránky, ktoré používajú naše súbory cookie.  </li>
                    <li><strong>Tretie strany alebo verejne dostupné zdroje:</strong>Môžeme získať vaše osobné údaje od rôznych tretích strán a verejných zdrojov, ako je uvedené nižšie:</li>
                    <ul>
                            <li>poskytovatelia analytických služieb, ako je napríklad spoločnosť Google so sídlom mimo EÚ; </li>
                            <li>reklamné siete ako Facebook so sídlom mimo EÚ; a </li>
                            <li>vyhľadaním poskytovateľov informácií alebo poskytovateľov sledovacích informácií, ako napríklad HOTJAR so sídlom mimo EÚ. </li>
                        </ul>
                    
                </ul>
                
                <strong>4.	AKO POUŽÍVAME VAŠE OSOBNÉ ÚDAJE	 </strong>
                
                <p>Vaše osobné údaje použijeme iba v zákonom povolených prípadoch. Najbežnejšie použitia vašich osobných údajov sú: </p>
                
                <li>Kde údaje potrebujeme na splnenie zmluvy medzi nami.  </li> 
                <li>V prípade, ak je to potrebné pre naše legitímne 
záujmy (alebo záujmy tretej strany) a vaše záujmy a základné práva tieto
 záujmy neprevyšujú. </li> 
                <li>V prípade potreby splniť zákonné alebo regulačné povinnosti.  </li> 
                
                <p>Vo všeobecnosti sa nespoliehame na súhlas ako právny 
dôvod na spracovanie vašich osobných údajov, s výnimkou súhlasu, ktorý 
sa týka zasielania marketingovej komunikácie prostredníctvom e-mailu 
alebo textovej správy. Máte právo kedykoľvek odvolať svoj súhlas so 
zasielaním marketingu e-mailom na adresu support@foxseek.com</p>
                
                <strong>Účely spracovania vašich osobných údajov</strong>
                
                <p>Nižšie je uvedený popis spôsobov, akými máme v úmysle
 používať vaše osobné údaje, a právne dôvody, na základe ktorých tieto 
údaje spracovávame. Taktiež v prípade relevantnosti vysvetľuje, aké sú 
naše legitímne záujmy.</p>
                
                <p>Vaše osobné údaje môžeme spracovať z viacerých 
dôvodov, a to v závislosti od konkrétneho účelu, na ktorý vaše údaje 
používame. Prosím zašlite nám e-mail na adresu support@foxseek.com ak 
potrebujete podrobnosti o konkrétnom právnom dôvode, na základe ktorého 
spracovávame vaše osobné údaje v prípade, že v tabuľke nižšie je uvedený
 viac ako jeden dôvod.</p>
                
                <table>
                    <thead>
                        <tr class="tableheader">
                            <th>Dôvod/Aktivita</th>
                            <th>Typ údajov</th>
                            <th>Zákonný dôvod pre spracovanie</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Pre vašu registráciu ako nového zákazníka</td>
                            <td>(a) Identita <br>
                                (b) Kontakt
                            </td>
                            <td>Vykonanie zmluvy s vami</td>
                        </tr>
                        <tr>
                            <td>Pre spracovanie a doručenie vašej objednávky, vrátane: <br>
                                (a) Správy platieb a poplatkov <br>
                                (b) Prijatie a získanie dlžných peňazí
                            </td>
                            <td>(a) Identita<br>
                                (b) Kontakt <br>
                                (c) Financie <br>
                                (d) Transakcia <br>
                                (e) Marketing a komunikácia
                            </td>
                            <td>(a) Vykonanie zmluvy s vami  <br>
                                (b) Nevyhnutné pre legitímne vymáhanie záujmov a dlžných pohľadávok
                            </td>
                        </tr>
                        <tr>
                            <td>Pre správu našich vzťahov s vami, zahrňujúc: <br>
                                (a) Oznámenie o zmenách v našich 
všobecných obchodných podmienkach a zásadách ochrany osobných údajov <br>
                                (b) Žiadosť o zanechanie hodnotenia, alebo vyplnenia ankety
                            </td>
                            <td>(a) Identita <br>
                                (b) Kontakt <br>
                                (c) Profil <br>
                                (d) Marketing and Komunikácia
                            </td>
                            <td>(a) Vykonanie zmluvy s vami <br>
                                (b) Nevyhnutné pre splnenie zákonnej povinnosti  <br>
                                (c) Nevyhnutné, aby sme v záujme našich 
oprávnených záujmov aktualizovali svoje záznamy a študovali, ako 
zákazníci používajú naše produkty / služby
                            </td>
                        </tr>
                        <tr>
                            <td>Aby ste sa mohli zúčastniť losovania o ceny, súťažiť alebo dokončiť prieskum</td>
                            <td>(a) Identita <br>
                                (b) Kontakt  <br>
                                (c) Profil <br>
                                (d) Použítie <br>
                                (e) Marketing a komunikácia
                            </td>
                            <td>(a) Vykonanie zmluvy s vami <br>
                                (b) Pre naše legitímne záujmy je 
nevyhnutné študovať, ako zákazníci používajú naše produkty / služby, 
rozvíjať ich a rozširovať naše podnikanie
                            </td>
                        </tr>
                        <tr>
                            <td> Pre správu a ochranu nášho podnikania a
 našej stránky (vrátane riešenia problémov, analýzy údajov, testovania, 
údržby systému, podpory, vykazovania a hostovania údajov))</td>
                            <td>(a) Identita<br> 
                                (b) Kontakt <br>
                                (c) Technické
                            </td>
                            <td>(a) Nevyhnutné pre naše oprávnené záujmy
 v oblasti podnikania, poskytovania administratívnych a IT služieb, 
zabezpečenia siete, predchádzania podvodom a v súvislosti s 
reorganizáciou podniku alebo reštrukturalizáciou skupiny <br>
                                (b) Nevyhnutnosť spĺňať zákonnú povinnosť
                            </td>
                        </tr>
                        <tr>
                            <td>Poskytovať relevantný obsah a reklamy a merať a porozumieť účinnosti našej reklamy</td>
                            <td>(a) Identita  <br>
                                (b) Kontakt  <br>
                                (c) Profil  <br>
                                (d) Použitie  <br>
                                (e) Marketing a Komunikácia <br>
                                (f) Technické
                            </td>
                            <td>Potrebné pre naše oprávnené záujmy na 
skúmanie používania našich produktov/služieb zákazníkmi na ich vývoj, 
rast nášho podnikania a informácií o našej marketingovej stratégii.</td>
                        </tr>
                        <tr>
                            <td>Využitie analytických údajov na 
zlepšenie našich webových stránok, produktov / služieb, marketingu, 
vzťahov so zákazníkmi a skúseností</td>
                            <td>(a) Technické <br>
                                (b) Použitie
                            </td>
                            <td>Potrebné pre naše oprávnené záujmy z 
dôvodu definície typov zákazníkov pre naše produkty a služby, udržiavať 
naše stránky aktualizované a relevantné, rozvíjať naše podnikanie a 
informovať sa o našej marketingovej stratégií</td>
                        </tr>
                        <tr>
                            <td>Uvádzať návrhy a odporúčania týkajúce sa tovaru alebo služieb, ktoré by vás mohli zaujímať</td>
                            <td>(a) Identita <br>
                                (b) Kontakt <br>
                                (c) Technické <br>
                                (d) Využitie <br>
                                (e) Profil
                            </td>
                            <td>Nevyhnutné pre naše oprávnené záujmy na vývoj našich výrobkov / služieb a rozširovanie nášho podnikania</td>
                        </tr>
                    </tbody>
                </table>

                <strong>Marketingová komunikácia  </strong>
                
                <p>Dostanete od nás marketingovú komunikáciu, ak máte: </p>
                <p>
                    i	(i)  vyžiadané informácie od nás alebo zakúpené tovary alebo služby od nás; alebo<br>
                    ii	(ii)  ak ste nám poskytli svoje údaje a v okamihu
 zadania vašich údajov ste zaškrtli políčko, aby sme vám mohli zasielať 
marketingovú komunikáciu; a <br>
                    iii	(iii)  v každom prípade ste sa nerozhodli odmietnuť marketing. 
                </p>
                <p> Pred zdieľaním vašich osobných údajov s treťou stranou na marketingové účely získame váš výslovný súhlas.</p>
                
               <p>Môžete nás alebo tretie strany kedykoľvek požiadať, 
aby vám prestali zasielať marketingové správy e-mailom na adrese 
support@foxseek.com.</p>
                
               <p>Ak sa rozhodnete zrušiť prijímanie našich 
marketingových komunikácií, nebude to platiť pre osobné údaje, ktoré nám
 boli poskytnuté v dôsledku nákupu produktu / služby, registrácie 
záruky, skúsenosti s produktom / službou alebo iných transakcií.  </p>
            
            <strong>Zmena účelu </strong>
                
                <p>Vaše osobné údaje použijeme iba na účely, na ktoré 
sme ich zhromaždili, pokiaľ sa nebudeme primerane domnievať, že ich 
musíme použiť z iného dôvodu a tento dôvod je zlučiteľný s pôvodným 
účelom. Ak sa chcete dozvedieť viac o tom, ako je spracovanie pre nový 
účel zlučiteľné s pôvodným účelom, pošlite nám e-mail na adresu 
support@foxseek.com.</p>
                
                <p>
                   Ak potrebujeme vaše osobné údaje použiť na účely, 
ktoré nesúvisia s účelom, na ktorý sme údaje zhromaždili, upozorníme vás
 a vysvetlíme vám právny dôvod nového spôsobu spracovania. 
                </p>
                <p>Ak to zákon vyžaduje alebo povoľuje, vaše osobné údaje môžeme spracovať bez vášho vedomia alebo súhlasu.                </p>
                
                <strong>5. ZVEREJNENIE VAŠICH OSOBNÝCH ÚDAJOV </strong>
                
                <p>Možno budeme musieť vaše osobné údaje zdieľať so stranami uvedenými nižšie na účely uvedené v tabuľke vyššie v odseku 4: </p>
                <ul>
                    <li>Ďalšie spoločnosti v našej skupine, ktoré 
poskytujú služby v oblasti IT, fakturácie a správy systémov a vykonávajú
 hlásenia vedeniu. </li>
                    <li>Poskytovatelia služieb, ktorí poskytujú služby v oblasti správy IT a systémov. </li>
                    <li>Profesionálni poradcovia vrátane právnikov, 
bankárov, audítorov a poisťovateľov, ktorí poskytujú poradenské, 
bankové, právne, poisťovacie a účtovnícke služby. </li>
                    <li>Príjmy a clá HM, regulačné orgány a iné orgány 
so sídlom v E.U. a ďalšie príslušné jurisdikcie, ktoré za určitých 
okolností vyžadujú nahlasovanie spracovateľských činností. </li>
                    <li>Vládne a mimovládne orgány, ktoré spravujú trhové kódexy výkonu služieb a sťažnosti zákazníkov.</li>
                    <li> Tretie strany, ktorým predávame, prevádzame alebo s ktorými zlučujeme časti nášho podnikania alebo našich aktív.</li>
                </ul>
                <p>Žiadame všetky tretie strany, ktorým prevádzame vaše 
údaje, aby rešpektovali bezpečnosť vašich osobných údajov a zaobchádzali
 s nimi v súlade so zákonom. Takýmto tretím stranám povoľujeme 
spracovanie vašich osobných údajov iba na stanovené účely a v súlade s 
našimi pokynmi. </p>
                
                <strong>6. MEDZINÁRODNÉ PREVODY	 </strong>
                
                <p>Vaše osobné údaje neprenášame mimo Európskeho hospodárskeho priestoru<strong>EEA</strong>.</p>
                
                <strong>7.	BEZPEČNOSŤ ÚDAJOV	</strong>
                 
                <p>
                  Na zabránenie náhodnej strate, použitiu, alebo 
neautorizovanému prístupu, zmene, alebo vyzradeniu vašich osobných 
údajov sme zaviedli sme príslušné bezpečnostné opatrenia. Okrem toho 
obmedzujeme prístup k vašim osobným údajom iba na tých zamestnancov, 
zástupcov, dodávateľov a iné tretie strany, ktorí majú obchodné potreby,
 aby takéto údaje poznali. Vaše osobné údaje spracujú iba podľa našich 
pokynov a budú podliehať povinnosti mlčanlivosti.
Zaviedli sme postupy na riešenie akéhokoľvek podozrenia z porušenia 
ochrany osobných údajov a upozorníme vás a každý príslušný regulačný 
orgán na akékoľvek porušenie, v prípade ktorého sme zo zákona povinní 
tak urobiť.

                </p>
                <strong>8.	UCHOVÁVANIE ÚDAJOV	 </strong>
                
                <p>Vaše osobné údaje budeme uchovávať iba tak dlho, ako 
je to potrebné na splnenie účelu, na ktoré sme ich zhromaždili, a to aj 
na účely splnenia akýchkoľvek právnych, účtovných alebo výkazných 
požiadaviek.</p>
                
                <p>
                  Pri určovaní vhodného obdobia uchovávania osobných 
údajov posudzujeme množstvo, povahu a citlivosť osobných údajov, 
potenciálne riziko poškodenia v dôsledku neoprávneného použitia alebo 
zverejnenia vašich osobných údajov, účely, na ktoré spracúvame vaše 
osobné údaje a či tieto ciele môžeme dosiahnuť inými prostriedkami a 
príslušnými zákonnými požiadavkami.
                </p>
                
                <p>Podľa zákona musíme uchovávať z daňových dôvodov 
základné informácie o našich zákazníkoch (vrátane kontaktných údajov, 
identifikačných údajov, finančných údajov a údajov o transakciách) šesť 
rokov po tom, ako prestanú byť zákazníkom. 

V niektorých prípadoch môžete požiadať o vymazanie vašich údajov: ďalšie
 informácie nájdete nižšie.
</p>
                
                <p>Za určitých okolností môžeme vaše osobné údaje 
anonymizovať (aby už nemohli byť s vami spojené) a to na výskumné alebo 
štatistické účely. V takom prípade môžeme tieto informácie bez ďalšieho 
upozornenia používať bez časového obmedzenia.  </p>
                
                
                <strong>9. 	VAŠE PRÁVA  	  </strong>
                
                <p>Za určitých okolností máte podľa zákonov o ochrane údajov práva vo vzťahu k vašim osobným údajom. Medzi ne patrí právo na: </p>
                <ul>
                    <li>Žiadosť o prístup k vašim osobnúm údajom. </li>
                    <li>Žiadosť o nápravu vašich osobných údajov.  </li>
                    <li>Žiadosť o vymazanie vašich osobných odajov.  </li>
                    <li> Námietka na spracovanie vašich osobných údajov. </li>
                    <li> Žiadosť o zamedzenie spracovania vašich osobných údajov. </li>
                    <li> Žiadosť o prevod vašich osobných údajov. </li>
                    <li>Žiadosť o zrušenie súhlasu.  </li>
                </ul>
                <p>Viac informácií o týchto právach nájdete na webovej stránke miestneho orgánu na ochranu osobných údajov.</p>
                
                <p>Ak si chcete uplatniť ktorékoľvek z vyššie uvedených práv, pošlite nám e-mail na adresu support@foxseek.com.</p>
                
                <p>Z za prístup k svojim osobným údajom (alebo za 
uplatnenie akýchkoľvek iných práv) nebudete musieť platiť poplatok. 
Môžeme si však účtovať primeraný poplatok, ak je vaša žiadosť zjavne 
neopodstatnená, opakujúca sa alebo neprimeraná. Za týchto okolností 
môžeme prípadne odmietnuť vyhovieť vašej žiadosti.</p>
                
                <p>Možno vás budeme musieť požiadať o konkrétne 
informácie, ktoré nám pomôžu potvrdiť vašu totožnosť a zabezpečiť vaše 
právo na prístup k vašim osobným údajom (alebo na uplatnenie akýchkoľvek
 vašich ďalších práv). Jedná sa o bezpečnostné opatrenie na zabezpečenie
 toho, aby osobné údaje neboli poskytnuté akejkoľvek inej osobe, ktorá 
nemá právo na ich získanie. Môžeme vás tiež kontaktovať, aby sme vás 
požiadali o ďalšie informácie týkajúce sa vašej žiadosti z dôvodu 
zrýchlenia našej reakcie.</p>
                
                <p>Snažíme sa odpovedať na všetky oprávnené žiadosti do 
jedného mesiaca. Príležitostne, ak je vaša žiadosť mimoriadne zložitá 
alebo ak ste zadali niekoľko žiadostí naraz, môže tento proces trvať 
dlhšie ako mesiac. V takom prípade vás budeme priebežne nformovať.</p>
                
                <strong>10. 	ODKAZY TRETÍCH STRÁN 	 </strong>
                
                <p> Táto webová stránka môže obsahovať odkazy na webové 
stránky, doplnky a aplikácie tretích strán. Kliknutím na tieto odkazy 
alebo povolením týchto spojení môžete tretím stranám umožniť 
zhromažďovať alebo zdieľať vašich údajov. Webové stránky tretích strán 
nekontrolujeme a nezodpovedáme za ich vyhlásenia o ochrane osobných 
údajov. Po opustení našej webovej stránky, odporúčame prečítať si zásady
 ochrany osobných údajov všetkých webových stránok, ktoré navštívite.</p>
                
                
                <strong>11. COOKIES</strong>
                
                <p>Prehliadač môžete nastaviť tak, aby odmietal všetky 
alebo len niektoré súbory cookie prehliadača, alebo aby vás upozornil, 
keď webové stránky nastavia súbory cookie alebo k nim pristupujú. Ak 
cookies zakážete alebo odmietnete, uvedomte si, že niektoré časti tejto 
webovej stránky sa môžu stať nedostupnými alebo nemusia fungovať 
správne. </p>
                
                <p> Naša webová stránka používa súbory cookies, aby vás 
odlíšila od ostatných používateľov našej webovej stránky. To nám pomáha 
poskytovať vám lepšie používateľské skúsenosti pri prehliadaní našich 
webových stránok a tiež nám umožňuje zlepšovať naše stránky.  </p>
                
                <p>Cookie sú malé súbory písmen a číslic, ktoré ukladáme vo vašom prehliadači, alebo na pevný disk vášho počítača.  <strong>Používaním webovej stránky súhlasíte s používaním cookies.</strong>Cookies
 obsahujú informácie, ktoré sa prenášajú na pevný disk vášho počítača. 
Naše stránky môžu používať jeden alebo viac z nasledujúcich druhov 
súborov cookie: </p>
                <ul>
                    <li><strong>Striktne potrebné súbory cookie.</strong>
  Sú to súbory cookie, ktoré sú potrebné na fungovanie našich webových 
stránok. Zahŕňajú napríklad súbory cookie umožňujúce prihlásiť sa do 
zabezpečených oblastí.
                    </li><li><strong>Analytické/výkonnostné súbory cookie.</strong>
  Umožňujú nám rozpoznať a spočítať počet návštevníkov a zistiť, ako sa 
návštevníci na webe počas jeho používania pohybujú. Pomáha nám to 
zlepšovať spôsob fungovania našich webových stránok, napríklad 
zabezpečením toho, aby používatelia ľahko našli to, čo hľadajú.
                    </li><li><strong>Funkčné súbory cookie. </strong> Sú
 používané na to, aby vás rozpoznali, keď sa vrátite na webovú stránku. 
To nám umožňuje prispôsobiť obsah a zapamätať si vaše preferencie. 
                    </li><li><strong>Cieliace súbory cookies.</strong>  
Tieto súbory cookie zaznamenávajú vašu návštevu našich webových stránok,
 navštívených stránok a odkazov, ktoré ste použili. Tieto informácie 
použijeme na to, aby naše webové stránky a reklama na nich zobrazená 
boli relevantnejšia pre vaše záujmy.
                </li></ul>
                <p>Upozorňujeme, že tretie strany (vrátane napríklad 
reklamných sietí a poskytovateľov externých služieb, ako sú služby 
analýzy internetovej návštevnosti) môžu taktiež používať súbory cookie, 
nad ktorými nemáme kontrolu. Tieto súbory cookie pravdepodobne budú </p>
                
                <span>Medzi príklady súborov cookie poskytovateľov externých služieb tretích strán patria: </span>
                <ul>
                    <li>Google Analytics </li>
                    <li>Twitter </li>
                    <li>Facebook </li>
                    <li>Pinterest </li>
                    <li>LinkedIn </li>
                    <li>Instagram </li>
                    <li>Google+ </li>
                    <li><a href="https://www.hotjar.com/privacy">https://www.hotjar.com/privacy</a></li>
                </ul>
                <p>Ďalšie informácie o nich možno získať na ich príslušných webových stránkach.</p>
                
                <p>Ak sa chcete o cookies dozvedieť viac, môžete navštíviť stránku <a href="http://www.aboutcookies.org/">http://www.aboutcookies.org/</a>
 
                 , čo je nezávislá tretia strana, ktorá vysvetľuje, čo 
sú súbory cookie a čisté gify zač a ako ich môžete spravovať. 
Upozorňujeme, že nie sme zodpovední za obsah týchto webových stránok a 
nemáme nad nimi kontrolu. </p>
                
                <p>
                   Súbory cookie môžete blokovať aktivovaním nastavenia 
vo vašom prehliadači, ktoré vám umožní zakázať ich. Ak však použijete 
nastavenia vášho prehliadača na blokovanie všetkých súborov cookie 
(vrátane základných súborov cookie), pravdepodobne nebudete mať prístup 
na všetky naše webové stránky alebo všetky ich časti.
S výnimkou nevyhnutne potrebných a funkčných súborov cookie, platnosť 
súborov cookie vyprší do dvoch rokov.

. 
                </p>
                <strong>12. 	Verzia.</strong>
                
                <p>Tieto zásady sú platné od 1. mája 2018.</p>

            </div>
        </div>
    </div>
        </main>
            <footer class="text-center">
        <div class="row">
            <div class="columns">
                <p>
                   Vlastnik služby: Foxseek, www.foxseek.com, 0800008304
            SMS agregator pre Slovensko: interestGame, s.r.o. interest.3499games, 
            0800008304, support@foxseek.com<br>
                  
                    
                    
                     <a href="/sk/help">Zákaznícka podpora</a> - 
                     <a href="/sk/terms">Všeobecné obchodné podmienky</a> - 
                     <a href="/sk/privacy">Zásady ochrany súkromia</a>
                </p>   
            </div>
        </div>

</footer><div class="js-off-canvas-overlay is-overlay-fixed"></div></body></html>