<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ENRICHREAD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="/static/skcss/foundation.css">
    <link href="/static/skcss/24048.css" rel="stylesheet" media="screen">
    <link href="/static/skcss/84508.css" rel="stylesheet" media="screen">
    <link href="/static/skcss/84516.css" rel="stylesheet" media="screen">
    <meta class="foundation-mq"></head>
    <body>
        <main>
            <div class="container" style="text-align: center;">
                <font size="10">Všeobecné obchodné podmienky</font>
            </div>
            <div class="container" id="main">
            <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1">
            <h3>1. Definície</h3>
                <dl class="dl-horizontal">
                    <dt>1.1</dt><dd></dd>
				</dl>
                
            <p>
				</p><table class="table">
					<tbody><tr>
						<td width="20%">Predplatné</td>
						<td>Každá Zmluva so (pre použitie) Službou pre Foxseek Media Limited,, kde sú  pravidelne zúčtované dlžné sumy.</td>
					</tr>
					<tr>
						<td width="20%">Obsah</td>
						<td>(digitálne) informácie, ako napríklad text, podrobnosti, 
pohyblivé, stacionárne a grafické obrázky, zvuk a informácie v 
akejkoľvek inej podobe, ako sú hry, reklama a/alebo podobné služby.</td>
					</tr>
					<tr>
						<td width="20%">Spotrebiteľ:</td>
						<td>Klient nekonajúci profesionálne alebo v mene spoločnosti.</td>
					</tr>
					<tr>
						<td width="20%">Služba:</td>
						<td>Mobilná telekomunikačná služba/MCB alebo PSMS služba ponúkaná 
alebo dodávaná Foxseek Media Limited, pozostávajúca z poskytovania Obsahu vo 
všetkých formách.</td>
					</tr>
					<tr>
						<td width="20%">Klient:</td>
						<td>(Potenciálny) klient Foxseek Media Limited.</td>
					</tr>
					<tr>
						<td width="20%">ENRICHREAD:</td>
						<td>Foxseek Media Limited obchodné meno.</td>
					</tr>
					<tr>
						<td width="20%">Partner: </td>
						<td>Ďalší reklamný slogan pre (mobilný) internet, alebo iný spôsob komunikácia (do ktorého patria aj vydavatelia a webové stránky).</td>
					</tr>
					<tr>
						<td width="20%">Zmluva:</td>
						<td>Akákoľvek dohoda, na základe ktorej Foxseek Media Limited, poskytuje (jednu alebo viac) služieb.</td>
					</tr>
					<tr>
						<td width="20%">Obchodný klient:</td>
						<td>Klient konajúci profesionálne alebo v mene spoločnosti.</td>
					</tr>
					<tr>
						<td width="20%">Foxseek Media Limited,</td>
						<td> Unit B, 10/F Lee May Buliding 788-790 Nathan Road Mongkok Kowloon Hong Kong</td>
					</tr>
					</tbody></table>
				
                
                <p>
                    Reg. č. 1922945
				</p>
                <dl class="dl-horizontal">
                    <dt>1.2</dt>
                    <dd>Tieto všeobecné obchodné podmienky nahrádzajú 
všetky všeobecné obchodné podmienky, ktoré sa mohli uplatniť v 
predchádzajúcich Zmluvách.</dd> 
                </dl>
                <dl class="dl-horizontal">
                    <dt>1.3</dt><dd>Tieto všeobecné podmienky sa vzťahujú na všetky online ponuky Foxseek Media Limited a na všetky online Zmluvy Foxseek Media Limited .</dd>
                </dl>
                <h3>2 Všeobecné</h3>
                <dl class="dl-horizontal">
                    <dt>2.1</dt><dd>Tieto zmluvné podmienky sa vzťahujú na používanie webovej stránky a na akékoľvek zmluvy medzi Foxseek Media Limited a účastníkom, ktoré 
označil Foxseek Media Limited
</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>2.2</dt>
                    <dd>Ak je jedno alebo viacero ustanovení týchto 
všeobecných obchodných podmienok neplatné, zostávajúce ustanovenia 
týchto podmienok zostávajú v plnej platnosti. Strany začnú rokovania s 
cieľom vypracovania nových ustanovení, ktoré nahradia neplatné 
ustanovenia, ktoré sa i naďalej dodržiavajú, berúc do úvahy účel a zámer
 pôvodných ustanovení.</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>2.3</dt>
                    <dd> Tieto obchodné podmienky a ďalšie informácie 
týkajúce sa služieb Foxseek Media Limited nájdete na tejto webovej stránke. Po 
dokončení registrácie a potvrdenia stránky s platbou, vrátane 
všeobecných obchodných podmienok, je medzi účastníkom a Foxseek Media Limited 
uzavretá zmluva.</dd>
                </dl>
                <h3>3 Zodpovednosť za odkazy na webovej stránke </h3>
                <dl class="dl-horizontal">
                    <dt>3.1</dt>
                    <dd>Webové stránky môžu obsahovať odkazy na webové 
stránky iné ako ENRICHREAD. Foxseek Media Limited nemôže monitorovať tieto iné 
webové stránky a neprijíma žiadnu zodpovednosť za ich obsah. Foxseek Media Limited
 nezodpovedá za ich obsah.</dd>
                </dl>
                <h3>4 Účasť </h3>
                <dl class="dl-horizontal">
                    <dt>4.1</dt>
                    <dd>ENRICHREAD ponúka html5 herný portál s 
neobmedzeným prístupom k hrám po potvrdení predplatného.
                    Ak chcete stránku používať ENRICHREAD, účastník si 
musí zakúpiť predplatné. Predplatné sa aktivuje kliknutím na tlačidlo na
 webovej stránke, ktoré zahŕňa všeobecné obchodné podmienky a odoslaním 
správy SMS na 7045. Táto platobná stránka je stránkou Foxseek Media Limited a 
jasne uvádza ceny za službu (2 x €3 / týždeň). Po schválení bude zaslaná
 bezplatná potvrdzovacia SMS na potvrdenie zmluvy. Poplatky za využitie 
siete môžu byť účtované naviac k predplatnému. Používateľ získa prístup 
na herný portál po prihlásení sa k odberu predplatného, až kým neodošle 
STOP ENRICHREAD na 7045.
                    
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>4.2</dt>
                    <dd>Pri registrácii musí mať účastník platné a fungujúce telefónne číslo.</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>4.3</dt><dd>Foxseek Media Limited má právo neakceptovať registráciu.</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>4.4</dt>
                    <dd>Účastník môže zahájiť odber predplatného len so 
súhlasom platiteľa faktúry. Účastník môže začať predplatné so súhlasom 
rodiča alebo zákonného zástupcu.</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>4.5</dt>
                    <dd>Foxseek Media Limited si vyhradzuje právo vylúčiť 
účastníka z účasti, ak účastník akýmkoľvek spôsobom porušuje tieto 
podmienky alebo ak koná inak protiprávne voči Foxseek Media Limited alebo tretím 
stranám.</dd>
                </dl>
                <h3>5 Právo odstúpenia od zmluvy </h3>
                <dl class="dl-horizontal">
                    <dt>5.1</dt>
                    <dd>Účastník súhlasí s tým, že ihneď po vstupe predplatného do platnosti sa účastník nemôže domáhať práva na odstúpenie od zmluvy.</dd>
                </dl>
                <h3>6 Trvanie a ukončenie</h3>
                <dl class="dl-horizontal">
                    <dt>6.1</dt>
                    <dd>Predplatné je na dobu neurčitú. Účastník sa môže kedykoľvek odhlásiť.</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>6.2</dt><dd>Ukončenie služby je možné vykonanť 
zaslaním textovej správy s ENRICHREAD STOP na 7045. Je taktiež možné poslať 
e-mail na adresu support@foxseek.com. Nezabudnite uviesť svoje mobilné 
číslo.</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>6.3</dt><dd>Po ukončení musí účastník jasne uviesť svoje telefónne číslo.</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>6.4</dt><dd>Po ukončení predplatného účastník nemôže ďalej používať ENRICHREAD.</dd>
                </dl>
                <h3>7 Nesprávne použitie webovej stránky</h3>
                <dl class="dl-horizontal">
                    <dt>7.1</dt><dd>Na fn.3499games.com nie je dovolené
 zneužívať chyby alebo technické poruchy. Akékoľvek chyby alebo 
technické chyby by mal účastník oznámiť Foxseek Media Limited.</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>7.2</dt>
                    <dd>Nie je dovolené manipulovať s webovou stránkou 
ani používať túto službu na úmyselné zapájanie sa do nezákonného 
konania, na vedomé vytváranie, ukladanie alebo šírenie akéhokoľvek 
nezákonného obsahu, porušovanie autorských práv, porušovanie práv 
duševného vlastníctva alebo posielanie spamu alebo podporu jeho 
rozosielania.</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>7.3</dt>
                    <dd>Účastník musí dodržiavať všetky (iné) pravidlá alebo ustanovenia uvedené v kóde na webovej stránke.</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>7.4</dt><dd>Ak účastník akýmkoľvek spôsobom prekoná, alebo podvodom zneužije systém, Foxseek Media Limited to nahlási polícii.</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>7.5</dt>
                    <dd>Ak účastník porušuje ustanovenia všeobecných 
obchodných podmienok alebo iné súvisiace zmluvné záväzky alebo 
akýmkoľvek spôsobom zneužíva webovú stránku domidownloads.com, Mobici 
BVBA môže pozastaviť alebo ukončiť jeho službu a / alebo predplatné.</dd>
                </dl>
                <h3>8 Otázky a sťažnosti</h3>
                <dl class="dl-horizontal">
                    <dt>8.1</dt><dd>Akékoľvek otázky alebo sťažnosti môžu byť adresované na:</dd>
                </dl>
                <ul class="list-group">
                    <li class="list-group-item">Foxseek Media Limited</li>
                    <li class="list-group-item">Unit B, 10/F Lee May Buliding 788-790 Nathan Road Mongkok Kowloon Hong Kong</li>        
                    <li class="list-group-item">Email: info-sk@mobileinfo.biz</li>
                    <li class="list-group-item">Podpora: 0233000028</li>
                </ul>
                <dl class="dl-horizontal">
                    <dt>8.2</dt>
                    <dd>Sťažnosti vybavuje Foxseek Media Limited do 24 hodín, na 
našu zákaznícku podporu sa môžete obrátiť v pracovné dni od 9 do 5 na 
lokálnom telefónnom čísle. Ak bohužiaľ nie je možné vybaviť reklamáciu 
do 30 dní, účastník bude o meškaní informovaný.</dd>
                </dl>
                <h3>9 Zodpovednosť</h3>
                <dl class="dl-horizontal">
                    <dt>9.1</dt>
                    <dd>Foxseek Media Limited sa usiluje o to, aby boli služby na 
webe prístupné 7 dní v týždni, 24 hodín denne. Prístup sa však môže 
prerušiť aj prostredníctvom údržby, aktualizácie a / alebo z nejakého 
iného technického dôvodu. Foxseek Media Limited nezodpovedá za dočasné prerušenie 
fungovania webových stránok, pokiaľ prerušenie spôsobené Foxseek Media Limited nie
 je neprimerane dlhé.</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>9.2</dt>
                    <dd>Foxseek Media Limited nemôže zaručiť správnosť informácií 
na webovej stránke. Foxseek Media Limited urobí všetko pre to, aby presnosť týchto
 údajov bola čo najkonzistentnejšia. Vonkajšie vplyvy ako napríklad 
hackeri, sú vždy možné a môžu viesť k skresleniu informácií. Foxseek Media Limited
 nezodpovedá za takto skreslené informácie. Ak sa domnievate, že vaša 
práca bola skopírovaná spôsobom, ktorý porušuje autorské práva alebo že 
boli vaše práva duševného vlastníctva inak porušené, kontaktujte nás.</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>9.3</dt>
                    <dd>Foxseek Media Limited nezodpovedá za škody akéhokoľvek 
druhu v dôsledku nesprávnych alebo neúplných údajov, ktoré účastník 
poskytol Foxseek Media Limited.</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>9.4</dt>
                    <dd>Foxseek Media Limited nezodpovedá za nepriame alebo následné škody.</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>9.5</dt>
                    <dd>Obmedzenia zodpovednosti obsiahnuté v týchto 
všeobecných obchodných podmienkach sa neuplatňujú, ak škoda spôsobená 
hrubou nedbanlivosťou je spôsobená Foxseek Media Limited alebo ich zamestnancami.</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>9.6</dt>
                    <dd>Foxseek Media Limited nemôže monitorovať partnerov a 
vydavateľov, ktorí sa starajú o propagáciu ENRICHREAD, zároveň neprijíma 
žiadnu zodpovednosť za ich obsah. Partneri a vydavatelia, ktorí 
nerešpektujú pravidlá pre vydavateľov a partnerov, budú do 24 hodín 
odstránený. Za škody spôsobené neprimeranou reklamou tretích strán nie 
sú zodpovednosťou Foxseek Media Limited. Len publikácie Foxseek Media Limited s URL adresou 
ENRICHREAD domidownloads.com a za ktorými sú kampane s premennými, sú na 
zaodpovednosť Foxseek Media Limited. Všetky ostatné URL adresy, ktoré sa líšia, 
nie sú realizvané Foxseek Media Limited, a preto nespadajú do jeho zodpovednosti.</dd>
                </dl>
                <h3>10 Propagácia </h3>
                <dl class="dl-horizontal">
                    <dt>10.1</dt>
                    <dd>Foxseek Media Limited využíva webové stránky tretích 
strán, či už za úhradu, na posielanie návštevníkov na svoju webovú 
stránku. Tieto tretie strany sú zodpovedné za umiestňovanie týchto 
hypertextových odkazov a sú výlučne zodpovedné za obsah webovej stránky a
 za spôsob, akým táto tretia strana posiela používateľov prostredníctvom
 hypertextových odkazov na webové stránky.</dd>
                </dl>
                <h3>11 Vyššia moc</h3>
                <dl class="dl-horizontal">
                    <dt>11.1</dt>
                    <dd>Foxseek Media Limited nie je povinný plniť žiadne zo 
svojich záväzkov podľa zmluvy, ak je ich plneniu zabránené z dôvodu 
vyššej moci. Vyššia moc zahŕňa akékoľvek nenapraviteľné zlyhanie tretích
 strán, dočasnú alebo nedostatočnú dostupnosť hardvéru, softvéru a/alebo
 internetu alebo iných telekomunikačných spojení, ktoré sú potrebné na 
poskytovanie služieb, alebo akúkoľvek inú situáciu, v ktorej nemá Foxseek Media Limited žiadnu (rozhodujúca) kontrola.</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>11.2</dt>
                    <dd>V prípade zásahu vyššej moci Foxseek Media Limited nie je 
povinný zaplatiť účastníkovi náhradu za spôsobenú škodu, okrem prípadu, 
keď Foxseek Media Limited v dôsledku vyššej moci získal výhody, ktoré by nezískal 
ak by k tomu nedošlo.</dd>
                </dl>
                <h3>12 Duševné vlastníctvo</h3>
                <dl class="dl-horizontal">
                    <dt>12.1</dt>
                    <dd>Bez predchádzajúceho písomného alebo 
elektronického súhlasu Foxseek Media Limited nesmie účastník kopírovať, 
preposielať, distribuovať, reprodukovať alebo zverejňovať akékoľvek 
informácie, text, logá, značky, názvy a ilustrácie, ktoré získal 
prostredníctvom tejto webovej stránky. Máme právo odstrániť akýkoľvek 
obsah (hostovaný ako súčasť služby), ktorý sa považuje za nezákonný 
alebo v súvislosti s ktorým bolo doručené oznámenie o odstránení.</dd>
                </dl>
                <h3>13 Bezpečnosť a internet </h3>
                <dl class="dl-horizontal">
                    <dt>13.1</dt>
                    <dd>Foxseek Media Limited podnikne príslušné bezpečnostné 
opatrenia aby ochránil webstránku pred rizikami neautorizovaného 
prístupu alebo zmeny, zničenia alebo straty spôsobenej účastníkom 
prostredníctvom webovej stránky, ale Foxseek Media Limited nemôže túto záležitosť 
garantovať.</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>13.2</dt>
                    <dd>Foxseek Media Limited a účastník sa bude odvolávať na súd až potom, ako vynaloží všetko úsilie na vyriešenie sporu vzájomnou dohodou.</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>13.3</dt><dd>Sudca v mieste Foxseek Media Limited má 
právomoc to brať na vedomie, pokiaľ zákon neustanovuje inak. Ak sa 
Foxseek Media Limited odvolá na toto ustanovenie, účastník musí do jedného mesiaca
 zvoliť jurisdikciu pred príslušným súdom podľa zákona, v ktorom sa 
Foxseek Media Limited zaujíma o zásady súkromia. Preto vaše údaje použijeme 
bezpečným spôsobom a procesom. Prečítajte si vyhlásenie nižšie o ochrane
 osobných údajov, aby ste pochopili, aké údaje máme a čo s nimi robíme.</dd>
                </dl>
                <h3>14 Kompatibilné telefóny</h3>
                <ul class="list-group">
                    <li class="list-group-item">IOS</li>
                    <li class="list-group-item">Android</li>
                    <p> Naše služby, obrázky a videá nemusia fungovať na
 všetkých telefónoch, prenosných počítačoch, stolných počítačoch alebo 
elektronických zariadeniach, ktoré dokážu obsah zobrazovať. Beriete na 
vedomie, že nie sme povinní mať k dispozícii všetky typy formátov. Je na
 zodpovednosti používateľa, aby si zabezpečil, že zariadenie, ktoré 
používa, dokáže reprodukovať nasledujúce súbory (Obrázo k - JPG, GIF, 
PNG) (Videá - 3GP &amp; MOV) alebo mať nainštalovaný príslušný softvér 
na prístup ku všetkým službám.</p>
                </ul>
                <h3>15  </h3>
                <p>Táto služba je ponúkaná v spolupráci s naším poskytovateľom technických služieb Dimoco.</p>
            </div>
        </div>
    </div>
        </main>
            <footer class="text-center">
        <div class="row">
            <div class="columns">
                <p>
                   Vlastnik služby: Foxseek, www.foxseek.com, 0800008304
            SMS agregator pre Slovensko: interestGame, s.r.o. interest.3499games, 
            0800008304, support@foxseek.com
                    ©2020 Foxseek Media Limited<br>
                                    
                     <a href="/sk/help">Zákaznícka podpora</a> - 
                     <a href="/sk/terms">Všeobecné obchodné podmienky</a> - 
                     <a href="/sk/privacy">Zásady ochrany súkromia</a>
                </p>   
            </div>
        </div>
</footer><div class="js-off-canvas-overlay is-overlay-fixed"></div></body></html>