<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=360">
    <link rel="icon" href="data:;base64,=">
    <link type="text/css" rel="stylesheet" href="/static/css/tnc.css">
    <style>
        p {
            font-family: 'Titillium Web', Sans-Serif;
            margin-bottom: 1rem;
            font-size: inherit;
            line-height: 1.6;
            text-rendering: optimizeLegibility;
            box-sizing: inherit;
        }

        h4 {
            font-weight: 600;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="content">
            <h3>KONTAKT</h3>
            <p class="text-left">
                Sollten Sie noch Fragen haben, dann können Sie Kontakt mit uns aufnehmen unter:
                <br>
                E-mail: info-at@mobileinfo.biz <br>
                Helpdesk: 0800 100 336 (EUR 0,00/Min.) <br> <br>

                Bitte vergessen Sie nicht, Ihre Handynummer anzugeben. Wir setzen uns so schnell wie möglich mit Ihnen
                in Verbindung! <br> <br>


            </p>

        </div>
        <div class="col-xs-12 text-center" style="margin:20px;text-align:center">
                <p class="txt">
                    <a href="/at/AGB">Nutzungsbedingungen</a> |
                    <a href="/at/Impressum">Impressum</a> |<br>
                    <a href="/at/Rucktrittsrechts">Hinweis auf Rücktrittsrecht</a><br>
                    <a href="/at/Datenschutz">Datenschutz</a> |
                    <a href="/at/KONTAKT">Kontakt/Hilfe</a> |
                    <a href="http://www.mobileinfo.biz/customercare/">Kündigung</a>
            </p>
        </div>
    </div>
</body>

</html>