<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=360"/>
    <title>ENRICH READ</title>
    <link rel="icon" href=" " type="image/x-icon"/>
    <link type="text/css" rel="stylesheet" href="/static/css/lp_new.css">
</head>
<body class="main_container">

<div class="container">
    <div class="service_name_container">
        <svg
                xmlns="http://www.w3.org/2000/svg"
                width="360px" height="49px">
            <defs>
                <linearGradient id="PSgrad_0" x1="0%" x2="0%" y1="100%" y2="0%">
                    <!-- <stop offset="0%" stop-color="rgb(199,34,61)" stop-opacity="1"/> -->
                    <stop offset="20%" stop-color="rgb(60,60,60)" stop-opacity="1"/>
                    <!-- <stop offset="62%" stop-color="Handy-Rechnungb(255,255,255)" stop-opacity="1"/> -->
                    <stop offset="80%" stop-color="rgb(60,60,60)" stop-opacity="1"/>
                </linearGradient>
                <filter filterUnits="userSpaceOnUse" id="Filter_0" x="0px" y="0px" width="360px" height="49px">
                    <!-- <feOffset in="SourceAlpha" dx="0" dy="7"/> -->
                    <feGaussianBlur result="blurOut" stdDeviation="0"/>
                    <feFlood flood-color="rgb(0, 0, 0)" result="floodOut"/>
                    <feComposite operator="atop" in="floodOut" in2="blurOut"/>
                    <feComponentTransfer>
                        <feFuncA type="linear" slope="1"/>
                    </feComponentTransfer>
                    <feMerge>
                        <feMergeNode/>
                        <feMergeNode in="SourceGraphic"/>
                    </feMerge>
                </filter>

            </defs>
            <g filter="url(#Filter_0)">
                <text font-family="One" fill="rgb(2, 0, 97)"
                      transform="matrix( 0.41621664430375, 0, 0, 0.41621664430375,60.3022758258412, 36.445957718353)"
                      font-size="81.13px">ENRICH READ
                </text>
                <text font-family="One" fill="url(#PSgrad_0)"
                      transform="matrix( 0.41621664430375, 0, 0, 0.41621664430375,60.3022758258412, 36.445957718353)"
                      font-size="81.13px">ENRICH READ
                </text>
                <text font-family="One" stroke-width="2px" stroke="rgb(0, 0, 0)" fill-opacity="0" stroke-opacity="1"
                      transform="matrix( 0.41621664430375, 0, 0, 0.41621664430375,60.3022758258412, 36.445957718353)"
                      font-size="81.13px">ENRICH READ
                </text>
            </g>
        </svg>
    </div>

    <div style="width: 100%; height: 100px;"></div>
    <div class="service_subscribe">
        ENRICH READ €3.99 (Abo, 1 x pro Woche ), Jede Menge, Bilder,Musik Videos und vieles mehr ,bereitgestellt von FoxSeek Media Limited Jetzt abonnieren und vollen Zugriff auf alles erhalten,Zur Beendigung, <a href="https://mobileinfo.biz/" class="service_footer_links">klicke
                    hier.</a>.
    </div>
</div>
<div class="container_sub_btn">
    <div class="service_subscribe_btn">
        <div style="width: 100%; height: 20px;"></div>
        <div class="service_sub_btn">WEITER</div>
        <div style="width: 100%; height: 10px;"></div>
        <div class="service_sub_checkbox">
            <input id="service_renounce_sure" style="cursor:pointer;" type="checkbox"/>Mit Klick auf
            WEITER stimme ich ausdrücklich der sofortigen Leistungserbringung und dem Verlust des <a href="/at/Rucktrittsrechts" class="service_footer_links">Rücktrittsrechts</a> zu.
        </div>
    </div>
</div>
<div class="container">
    <div style="width: 100%; height: 10px;"></div>
    <div class="service_disclaimer">
        ENRICH READ ist ein Abonnementdienst. Es fallen Kosten von €3,99 pro Woche plus WAP/GPRS Kosten an , die über die Handy-Rechnung abgerechnet werden. Eine Kündigung ist jederzeit möglich, auf <a href="http://www.mobileinfo.biz" class="service_footer_links">http://www.mobileinfo.biz</a>, telefonisch unter 0800 100 336 oder per E-Mail info-at@mobileinfo.biz. Mit der Anmeldung erklärst du dich mit den. Allgemeine Geschäftsbedingungen einverstanden. Der Inhalt des Mobile-Content-Portal wird kontinuierlich aktualisiert. Infos: <a href="http://erb.ebooknice.com/" class="service_footer_links">http://erb.ebooknice.com/</a>. Das Service kann unter <a href="https://mobileinfo.biz/" class="service_footer_links">http://www.mobileinfo.biz/customercare</a> gekündigt werden. A1 Kunden können ihr Abo auch unter <a href="http://www.a1.net/meina1" class="service_footer_links">www.a1.net/meina1</a> kündigen.
        uneingeschränkten Zugriff auf alle Inhalte.
    </div>

    <div style="width: 100%; height: 30px;"></div>

    {{/*    <div class="service_footer_links">*/}}
    {{/*        <a>T&C</a> |*/}}
    {{/*        <a>Imprint</a> |*/}}
    {{/*        <a>Terms of Use</a>*/}}
    {{/*    </div>*/}}
    {{/*    <div class="service_footer_links" style="margin-top: 10px;">*/}}
    {{/*        <a>Privacy</a> |*/}}
    {{/*        <a>Contact</a> |*/}}
    {{/*        <a>Cancellation</a>*/}}
    {{/*    </div>*/}}


    <div class="service_footer_links">
        <a href="/at/AGB">AGB</a> |
        <a href="/at/FAQ">FAQ</a> |
        <a href="/at/Impressum">Impressum</a> |
        <a href="/at/Rucktrittsrechts">Nutzungsbedingungen</a>
    </div>
    <div class="service_footer_links" style="margin-top: 10px;">
        <a href="/at/Datenschutz">Datenschutz</a> |
        <a href="/at/KONTAKT">Kontakt/Hilfe</a> |
        <!-- 退订 -->
        <a href="/at/KUNDIGUNG">Kündigung</a>
    </div>

</div>

</body>
</html>
<!-- designed by yy(github.com/guaidashu) -->