<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=360"/>
    <title>Enrichread</title>
    <link rel="icon" href=" " type="image/x-icon"/>
    <link type="text/css" rel="stylesheet" href="/static/css/lp_new.css">
    <style>
        .input_msisdn {
            margin: 11px auto 0;
            border-width: 3px;
            width: 330px;
            height: 43px;
            font-size: 26px;
            padding-left: 14px;
            border-color: #a8bc02;
            outline: none;
        }
    </style>
</head>
<body class="main_container">

<div class="container_txt">
    <div class="service_name_container">
        <svg
                xmlns="http://www.w3.org/2000/svg"
                width="360px" height="49px">
            <defs>
                <linearGradient id="PSgrad_0" x1="0%" x2="0%" y1="100%" y2="0%">
                    <!-- <stop offset="0%" stop-color="rgb(199,34,61)" stop-opacity="1"/> -->
                    <stop offset="20%" stop-color="rgb(255,255,255)" stop-opacity="1"/>
                    <!-- <stop offset="62%" stop-color="Handy-Rechnungb(255,255,255)" stop-opacity="1"/> -->
                    <stop offset="80%" stop-color="rgb(255,255,255)" stop-opacity="1"/>
                </linearGradient>
                <filter filterUnits="userSpaceOnUse" id="Filter_0" x="0px" y="0px" width="360px" height="49px">
                    <!-- <feOffset in="SourceAlpha" dx="0" dy="7"/> -->
                    <feGaussianBlur result="blurOut" stdDeviation="0"/>
                    <feFlood flood-color="rgb(0, 0, 0)" result="floodOut"/>
                    <feComposite operator="atop" in="floodOut" in2="blurOut"/>
                    <feComponentTransfer>
                        <feFuncA type="linear" slope="1"/>
                    </feComponentTransfer>
                    <feMerge>
                        <feMergeNode/>
                        <feMergeNode in="SourceGraphic"/>
                    </feMerge>
                </filter>

            </defs>
            <g filter="url(#Filter_0)">
                <text font-family="One" fill="rgb(2, 0, 97)"
                      transform="matrix( 0.41621664430375, 0, 0, 0.41621664430375,60.3022758258412, 36.445957718353)"
                      font-size="81.13px">Enrichread
                </text>
                <text font-family="One" fill="url(#PSgrad_0)"
                      transform="matrix( 0.41621664430375, 0, 0, 0.41621664430375,60.3022758258412, 36.445957718353)"
                      font-size="81.13px">Enrichread
                </text>
                <text font-family="One" stroke-width="2px" stroke="rgb(0, 0, 0)" fill-opacity="0" stroke-opacity="1"
                      transform="matrix( 0.41621664430375, 0, 0, 0.41621664430375,60.3022758258412, 36.445957718353)"
                      font-size="81.13px">Enrichread
                </text>
            </g>
        </svg>
    </div>
</div>
<div class="main_center_image" style="width: 100%; height: 260px;"></div>
<div class="container_sub_btn">
    <div class="service_subscribe">
        ENRICH READ (Abo, 3,99€ pro Woche) ist eine beliebte E-Book-Site, die viele E-Books enthält.
    </div>
    <div class="service_subscribe_btn">
        <div style="width: 100%; height: 20px;"></div>
        <input class="input_msisdn" placeholder="43*****">
        <br>
        <br>
        <div class="service_sub_btn">WEITER</div>
        <div style="width: 100%; height: 10px;"></div>
        <div class="service_sub_checkbox">
            <input id="service_renounce_sure" style="cursor:pointer;" type="checkbox"/>Mit Klick auf
            WEITER stimme ich ausdrücklich der sofortigen Leistungserbringung und dem Verlust des <a href="/at/Rucktrittsrechts" class="service_footer_links">Rücktrittsrechts</a> zu.
        </div>
    </div>
</div>
<div class="container">
    <div style="width: 100%; height: 10px;"></div>
    <div class="service_disclaimer">
        Enrichread, wöchentlich EUR 3,99 (zzgl. Datenübertragungskosten) Wöchentlich aktualisiert. Super Casual Games.  Dienstleister: Foxseek Media Limited, Unit B, 10/F Lee May Buliding 788-790 Nathan Road Mongkok Kowloon Hong Kong, VAT:303371345. Der Benutzer kann sein Abonnement jederzeit unter der telefonischen Hotline: 0800100336 (EUR 0,00/Min.) oder beim E-Mail-Support:info-at@mobileinfo.biz kündigen. Der
        Benutzer kann den Dienst über den Link „Kündigung" selber verwalten/kündigen. A1 Nutzer: kündige dein
        Abo auf <a href="http://www.a1.net/meina1" class="service_footer_links">www.a1.net/meina1</a>. Während der Abonnementlaufzeit hat der Nutzer uneingeschränkten Zugriff
        auf alle Inhalte.
    </div>

    <div style="width: 100%; height: 30px;"></div>

    {{/*    <div class="service_footer_links">*/}}
    {{/*        <a>T&C</a> |*/}}
    {{/*        <a>Imprint</a> |*/}}
    {{/*        <a>Terms of Use</a>*/}}
    {{/*    </div>*/}}
    {{/*    <div class="service_footer_links" style="margin-top: 10px;">*/}}
    {{/*        <a>Privacy</a> |*/}}
    {{/*        <a>Contact</a> |*/}}
    {{/*        <a>Cancellation</a>*/}}
    {{/*    </div>*/}}


    <div class="service_footer_links">
        <a href="/at/AGB">Nutzungsbedingungen</a> |
        <a href="/at/Impressum">Impressum</a> |<br>
        <a href="/at/Rucktrittsrechts">Hinweis auf Rücktrittsrecht</a><br>
        <a href="/at/Datenschutz">Datenschutz</a> |
        <a href="/at/KONTAKT">Kontakt/Hilfe</a> |
        <a href="http://www.mobileinfo.biz/customercare/">Kündigung</a>
    </div>

</div>

</body>

<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script>
    $(".service_sub_btn").click(function () {
        if (!$("#service_renounce_sure").is(':checked')) {
            alert("Bitte stimmen Sie den NUTZUNGSBEDINGUNGEN zu");
            return
        } else {
            let msisdn = $(".input_msisdn").val();
            window.location.href = 'http://pd.argameloft.com/wifi/check_sub?track={{.trackID}}&msisdn=' + msisdn;
        }
    })
</script>

</html>